<div class="container">
  <h1>{{title}}</h1>
  <div id="outer-grid">
    <div id="inner-grid-1">
      <div class="box-1"><span data-tooltip="US Financial">US <br>Financial</span></div>
      <div class="box-1"><span data-tooltip="GB Financial">GB <br>Financial</span></div>
      <div class="box-1"><span data-tooltip="NL Financial">NL <br>Financial</span></div>
      <div class="box-1"><span data-tooltip="NL Financial">AU</span></div>
      <div class="box-1"><span data-tooltip="SE Financial">SE</span></div>
      <div class="box-1">6</div>
      <div class="box-1">7</div>
      <div class="box-1"><span data-tooltip="DE Financial">DE</span></div>
      <div class="box-1">9</div>
      <div class="box-1">10</div>
      <div class="box-1">11</div>
      <div class="box-1"><span data-tooltip="LU Financial">LU</span></div>
      <div class="box-1">13</div>
      <div class="box-1">14</div>
      <div class="box-1">15</div>
    </div>
    <div id="inner-grid-2">
        <div class="box-2"><span data-tooltip="US Basic Material">US <br>Basic Material</span></div>
        <div class="box-2"><span data-tooltip="GB Basic Material">GB <br>Basic Material</span></div>
        <div class="box-2"><span data-tooltip="LU Basic Material">LU</span></div>
        <div class="box-2"><span data-tooltip="NL Basic Material">NL</span></div>
        <div class="box-2">5</div>
        <div class="box-2">6</div>
        <div class="box-2">7</div>
        <div class="box-2">8</div>
        <div class="box-2">9</div>
        <div class="box-2">10</div>
        <div class="box-2">11</div>
        <div class="box-2">12</div>
        <div class="box-2">13</div>
        <div class="box-2">14</div>
        <div class="box-2">15</div>
        <div class="box-2">16</div>
        <div class="box-2">17</div>
        <div class="box-2">18</div>
        <div class="box-2">19</div>
    </div>
    <div id="inner-grid-3">
        <div class="box-3"><span data-tooltip="US Consumer, Non-cynical">US <br>Consumer, <br>Non-cynical</span></div>
        <div class="box-3"><span data-tooltip="GB Consumer, Non-cynical">GB <br>Consumer, <br>Non-cynical</span></div>
        <div class="box-3"><span data-tooltip="NL Consumer, Non-cynical">NL</span></div>
        <div class="box-3"><span data-tooltip="AU Consumer, Non-cynical">AU</span></div>
        <div class="box-3">5</div>
        <div class="box-3">6</div>
        <div class="box-3">7</div>
        <div class="box-3">8</div>
        <div class="box-3">9</div>
        <div class="box-3">10</div>
        <div class="box-3">11</div>
        <div class="box-3">12</div>
        <div class="box-3">13</div>
        <div class="box-3">14</div>
        <div class="box-3">15</div>
        <div class="box-3">16</div>
        <div class="box-3">17</div>
        <div class="box-3">18</div>
        <div class="box-3">19</div>
    </div>
    <div id="inner-grid-4">
        <div class="box-4"><span data-tooltip="US Consumer, Cynical">US <br>Consumer, <br>Cynical</span></div>
        <div class="box-4"><span data-tooltip="GB Consumer, Cynical">GB <br>Consumer, <br>Cynical</span></div>
        <div class="box-4"><span data-tooltip="NL Consumer, Cynical">NL</span></div>
        <div class="box-4"><span data-tooltip="AU Consumer, Cynical">AU</span></div>
        <div class="box-4">5</div>
        <div class="box-4">6</div>
        <div class="box-4">7</div>
        <div class="box-4">8</div>
        <div class="box-4">9</div>
        <div class="box-4">10</div>
        <div class="box-4">11</div>
        <div class="box-4">12</div>
        <div class="box-4">13</div>
        <div class="box-4">14</div>
        <div class="box-4">15</div>
        <div class="box-4">16</div>
        <div class="box-4">17</div>
        <div class="box-4">18</div>
        <div class="box-4">19</div>
    </div>
    <div id="inner-grid-5">
        <div class="box-5"><span data-tooltip="GB">GB</span></div>
        <div class="box-5"><span data-tooltip="US">US</span></div>
        <div class="box-5"><span data-tooltip="GB">NL</span></div>
        <div class="box-5">4</div>
        <div class="box-5">5</div>
        <div class="box-5">6</div>
        <div class="box-5">7</div>
        <div class="box-5">8</div>
        <div class="box-5">9</div>
        <div class="box-5">10</div>
        <div class="box-5">11</div>
        <div class="box-5">12</div>
        <div class="box-5">13</div>
        <div class="box-5">14</div>
        <div class="box-5">15</div>
        <div class="box-5">16</div>
        <div class="box-5">17</div>
        <div class="box-5">18</div>
        <div class="box-5">19</div>
    </div>
    <div id="inner-grid-6">
        <div class="box-6"><span data-tooltip="GB Industrial">GB <br>Industrial</span></div>
        <div class="box-6">2</div>
        <div class="box-6">3</div>
        <div class="box-6">4</div>
        <div class="box-6">5</div>
        <div class="box-6">6</div>
        <div class="box-6">7</div>
        <div class="box-6">8</div>
        <div class="box-6">9</div>
        <div class="box-6">10</div>
        <div class="box-6">11</div>
        <div class="box-6">12</div>
        <div class="box-6">13</div>
        <div class="box-6">14</div>
        <div class="box-6">15</div>
        <div class="box-6">16</div>
        <div class="box-6">17</div>
        <div class="box-6">18</div>
        <div class="box-6">19</div>
    </div>
    <div id="inner-grid-7">
        <div class="box-7"><span data-tooltip="US">US</span></div>
        <div class="box-7"><span data-tooltip="GB">GB</span></div>
        <div class="box-7">3</div>
        <div class="box-7">4</div>
        <div class="box-7">5</div>
        <div class="box-7">6</div>
        <div class="box-7">7</div>
        <div class="box-7">8</div>
        <div class="box-7">9</div>
        <div class="box-7">10</div>
        <div class="box-7">11</div>
        <div class="box-7">12</div>
        <div class="box-7">13</div>
        <div class="box-7">14</div>
        <div class="box-7">15</div>
        <div class="box-7">16</div>
        <div class="box-7">17</div>
        <div class="box-7">18</div>
        <div class="box-7">19</div>
    </div>
    <div id="inner-grid-8">
        <div class="box-8"><span data-tooltip="GB">GB</span></div>
        <div class="box-8">2</div>
        <div class="box-8">3</div>
        <div class="box-8">4</div>
        <div class="box-8">5</div>
        <div class="box-8">6</div>
        <div class="box-8">7</div>
        <div class="box-8">8</div>
        <div class="box-8">9</div>
        <div class="box-8">10</div>
        <div class="box-8">11</div>
        <div class="box-8">12</div>
        <div class="box-8">13</div>
        <div class="box-8">14</div>
        <div class="box-8">15</div>
        <div class="box-8">16</div>
        <div class="box-8">17</div>
        <div class="box-8">18</div>
        <div class="box-8">19</div>
    </div>
</div>